/** 全局 **/
.archive.woocommerce #primary {
	width: 100%;
	-webkit-transition-duration: 0;
}

.archive.woocommerce #content {
	overflow: x-hidden;
}

.home.woocommerce-shop .breadcrumb .current {
	display: none;
}

.woocommerce table {
	word-break: normal;
	word-wrap: normal;
}

.woocommerce table a {
	color: #888 !important;
}

.woocommerce td {
	text-align: left;
}

.cart-empty.woocommerce-info,
.return-to-shop {
	text-indent: 0 !important;
}

.return-to-shop a {
	color: #fff !important;
}

.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
	border-radius: 5px;
}

.woocommerce-message {
	background: var(--be-bg-white);
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 0 1px var(--be-shadow);
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	background: var(--be-bg-white);
	margin: 0 0 10px;
}

.woocommerce ul.products li.product .woocommerce-placeholder {
	border: none !important;
}


.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.loading::after {
	top: 1.2em;
}

#add_payment_method .cart-collaterals .cart_totals .woocommerce-shipping-destination,
.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination,
.woocommerce-checkout .cart-collaterals .cart_totals .woocommerce-shipping-destination {
	font-size: 1.3rem;
	color: var(--be-grey-6);
	text-indent: 0;
	margin: 0;
}

/** 分类 **/
.woocommerce-result-count,
.woocommerce-products-header {
	display: none;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.9);
}

.tax-product_cat .woocommerce-ordering {
	top: 10px;
	right: 10px;
}

@media screen and (max-width: 1122px) {

	.woocommerce-page .header-sub,
	.woocommerce-shop .header-sub {
		width: 98%;
	}
}

.woocommerce-ordering .nice-select {
	background: transparent;
	height: 32px;
	line-height: 30px;
	border-radius: 5px;
	border: none;
}

.night .woocommerce-ordering {
	background: #323232;
}

.woocommerce-ordering .orderby:before {
	content: "\e89a";
	color: #666;
	font-family: be;
	margin: 0 5px 0 0;
}

.archive.woocommerce #sidebar {
	display: none;
}

.archive.woocommerce ul.products li.product {
	padding: 0 0 15px 0;
	overflow: hidden;
}

.archive.woocommerce ul.products li.product {
	float: left !important;
	width: 100% !important;
	margin: 0 !important;
	position: relative;
}

.archive.woocommerce ul.products {
	margin: 0 -5px !important;
}

.woo-flex-box {
	width: 20%;
	margin: 0 0 7px;
	padding: 0 5px;
	display: inline-block;
}

.woo-flex-4 {
	width: 25%;
}

.woo-flex-5 {
	width: 20%;
}

.woo-flex-6 {
	width: 16.66666666666667%;
}

/** 正文相关文章 **/
.related {
	overflow: hidden;
	border-top: 1px solid #ececec;
}

.related.products .post {
	border-radius: 5px;
}

.related.products .related-product-box img {
	border-radius: 5px 5px 0 0;
}

.related h2 {
	text-align: center;
	margin: 20px 0;
}

h2.woocommerce-loop-product__title {
	text-align: left;
}

.related ul.products {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -32px 0 -4px;
}

.related ul.products li.product {
	position: relative;
	float: left !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 0 15px 0;
	overflow: hidden;
	border: none;
}

.related-product-box {
	width: 25%;
	margin: 0 -5px 7px -5px;
	padding: 0 10px 0;
}

@media screen and (max-width: 900px) {

	.related-product-box,
	.woo-flex-box {
		width: 33.3333333333333333333% !important;
	}

	.related ul.products {
		margin: 0 -20px 0 -4px;
	}
}

@media screen and (max-width: 768px) {

	.related-product-box,
	.woo-flex-box {
		width: 50% !important;
	}

	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product {
		width: 100%;
		margin: 0;
	}
}

/** 标题 **/
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 25px;
	height: 50px;
	margin: 5px 0;
	padding: 0 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-all;
}

/** 优惠价 **/
.woocommerce ul.products li.product .price {
	color: var(--be-bread);
	display: block;
	font-weight: 400;
	margin: 0;
	padding: 0 15px;
	font-size: 1.4rem;
}

.be-woo-box .price ins,
.woocommerce ul.products li.product .price ins {
	background: 0 0;
	color: var(--be-red-f4);
	float: right;
	font-weight: 700;
	display: inline-block;
	text-decoration: none;
}

.be-woo-box .price {
	color: var(--be-bread);
	display: block;
	font-weight: 400;
	font-size: 1.4rem;
}

.woocommerce-Price-currencySymbol {
	margin: 0 3px 0 0;
}


/** 促销 **/
.woocommerce ul.products li.product .onsale {
	top: 10px;
	right: 10px;
	margin: 0;
}

.woo-cat-main span.onsale,
.woocommerce span.onsale {
	position: absolute;
	top: 45px;
	left: 45px;
	background: #be8f87;
	background: var(--be-bg-red-f4);
	height: 50px;
	width: 50px;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 400;
	position: absolute;
	text-align: center;
	line-height: 40px;
	margin: 0;
	padding: 5px;
	z-index: 1;
	border-radius: 100%;
}

.woo-cat-main span.onsale,
.woocommerce .cms-picture-box span.onsale {
	position: absolute;
	top: 10px;
	left: auto;
	right: 10px !important;
}

.woo-cat-main .price {
	margin: 0 0 15px;
	padding: 0 15px;
}

.woocommerce ul.products li.product .price del {
	font-size: 1.2rem;
}

/** 购买按钮 **/
.woocommerce button.button.alt.disabled,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background: var(--be-bg-red-f4);
	float: right;
	color: #fff !important;
	font-size: 1.4rem;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
	display: inline;
	padding: 15px 20px !important;
	border-radius: 5px;
}

.woocommerce button.button.alt.disabled:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background: linear-gradient(90deg, rgb(255, 203, 0), rgb(255, 148, 2));
	color: #fff;
}

.woocommerce .woo-flex-box a.button {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 140px;
	opacity: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}

.woocommerce .woo-flex-box a.button.loading {
	opacity: 1;
}


.woocommerce #respond input#submit {
	background: var(--be-bg-btn);
	color: #fff !important;
	font-size: 1.4rem;
	font-weight: 400;
	margin: 0 auto;
	width: 120px;
	text-align: center;
	display: block;
	padding: 13px 0;
	border-radius: 5px;
}

.woocommerce #respond input#submit:hover {
	background: var(--be-bg-grey-6);
	color: #fff;
}

.woo-flex-box .product:hover a.button {
	opacity: 1;
}

.added_to_cart wc-forward,
.woocommerce a.added_to_cart {
	position: absolute;
	bottom: 120px;
	left: 50%;
	width: 120px;
	color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background: #0ebe57;
}

.woo-url {
	width: 100%;
}

.woo-url a {
	background: #be8f87 !important;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	width: 60px;
	text-align: center;
	display: block;
	margin: 15px auto 10px;
	padding: 5px 0;
	border-radius: 3px;
}

.woo-url a:hover {
	background: #be8f87;
	color: #fff;
	opacity: 0.8;
}

/** 评星 **/
.related .star-rating,
.archive .star-rating {
	position: absolute;
	top: 15px;
	left: 15px;
}

.woocommerce p.stars a::before,
.woocommerce .star-rating,
.woocommerce .woocommerce-product-rating {
	color: var(--be-red-f4);
}

.woocommerce div.product .woocommerce-product-rating {
	margin-bottom: 10px;
}

/** 正文 **/
.single-product .product {
	font-size: 1.5rem;
	line-height: 180%;
	margin: 0 0 15px;
	padding: 30px 30px;
}

.woocommerce div.product .product_title {
	font-size: 2rem;
	line-height: 150%;
	margin: 0 0 10px 0;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: var(--be-red-f4);
	font-size: 1.5rem;
	margin: 0 0 10px 0;
}

.woocommerce div.product p.price ins {
	text-decoration: none;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	margin: 0 0 0 15px;
}

.woocommerce-product-details__short-description {
	margin: 0 0 10px 0;
}

.woocommerce div.product form.cart .variations select {
	padding: 5px 8px;
	border: 1px solid #ececec;
}

.woocommerce div.product .stock {
	color: #666;
}

.woocommerce-variation-availability {
	margin: 0 0 10px 0;
}

.woocommerce .quantity .qty {
	width: 90px;
	text-align: center;
	padding: 4px 8px;
	border-radius: 5px;
	border: 1px solid #ececec;
}

.woocommerce div.product form.cart .button {
	margin: 0 0 0 20px;
}

.variations th,
.variations tr {
	display: inline-block;
	padding: 0;
}

.woocommerce div.product form.cart .variations label {
	display: inline-block;
	font-weight: 700;
	text-align: left;
}

.woocommerce div.product form.cart .variations select {
	max-width: 235px;
	min-width: 235px;
	border-radius: 5px;
}

.be-woo-area {
	position: relative;
}

.woo-edit-link {
	position: absolute;
	bottom: 130px;
	right: 15px;
	opacity: 0;
	z-index: 1;
	-webkit-transition: .5s all ease-in-out 0.1s;
	transition: .5s all ease-in-out 0.1s;
}

.be-woo-single .woo-edit-link {
	top: 10px;
	bottom: auto;
	right: 10px
}

.be-woo-area:hover .woo-edit-link {
	opacity: 1;
}

.product_meta {
	font-size: 1.3rem;
}

.woocommerce div.product form.cart {
	margin-bottom: 15px;
}

/** 正文图 **/
.product .woocommerce-product-gallery img {
	border-radius: 5px;
}

.woocommerce div.product div.images .flex-control-thumbs {
	margin: 5px -5px 5px -5px !important;
}

.product .flex-control-thumbs li {
	padding: 5px;
}

.product .flex-control-thumbs li img {
	border-radius: 5px !important;
}

.flex-active-slide {
	border-radius: 5px;
	overflow: hidden;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	background: rgba(255, 255, 255, 0.5);
}

/** 其它信息 **/
.woocommerce table.shop_attributes {
	border: 1px solid var(--be-border-grey);
}

.woocommerce table.shop_attributes td {
	font-style: normal;
	line-height: 1.8;
	padding: 0 15px;
	border: 0;
	border-bottom: 1px solid var(--be-border-grey);
}

.woocommerce table.shop_attributes tr:last-child td {
	border-bottom: 0;
}

.woocommerce table.shop_attributes th {
	border-bottom: 1px solid var(--be-border-grey);
}

.woocommerce table.shop_attributes tr:last-child th {
	border-bottom: 0;
}

/** 留言 **/
.woocommerce-Tabs-panel .comment-reply-title {
	display: block;
	font-weight: 700;
	margin: 0 0 10px 0;
}

.woocommerce #review_form #respond {
	box-shadow: none;
}

.single-product .comment-form-comment {
	line-height: 180%;
}

.woocommerce .comment-form-author input,
.woocommerce .comment-form-email input {
	display: block;
	margin: 5px 0;
	padding: 5px 8px;
	border-radius: 5px;
	border: 1px solid #ececec;
}

.woocommerce #respond input#submit {
	margin: 20px 0;
	border-radius: 5px;
}

.woocommerce #respond .comment-form-author .required,
.woocommerce #respond .comment-form-email .required {
	position: inherit;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	background: transparent;
	width: 46px;
	margin: 6px 0 0 0;
	padding: 2px;
	border-radius: 50%;
	border: 1px solid #ececec;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin: 0 0 0 60px;
	padding: 0;
	border: none;
}

.woocommerce .comment-list li {
	position: relative;
	background: var(--be-bg-white);
	margin: 0 0 10px 0;
	padding: 15px 20px;
	border-radius: 8px;
	word-wrap: break-word;
	word-break: break-all;
	box-shadow: none;
}

.woocommerce #reviews #comments h2 {
	display: none;
}

.woocommerce-review__author {
	font-size: 1.5rem;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
	margin: 0;
}

.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
	margin: 0 -30px;
}

.woocommerce div.product .woocommerce-tabs .panel {
	padding: 10px 25px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0 0 0 30px;
}

.wc-tabs li.active {
	border-radius: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: 1px solid #ececec;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	margin: 0 3px;
	border: 1px solid #ececec;
	background-color: #f1f1f1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	border-bottom-right-radius: 4px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #ececec
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display: none;
}

/** 购物车 **/
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	float: inherit;
	width: 100%;
}

.woocommerce button.button.alt.disabled,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	font-size: 1.4rem;
	font-weight: 400;
	text-align: center;
	display: inherit;
	color: rgb(255, 255, 255) !important;
	background: var(--be-bg-red-f4);
	margin: 0px auto;
	border-radius: 5px;
	padding: 15px 20px !important;
}

.wc-proceed-to-checkout .woocommerce button.button,
.wc-proceed-to-checkout a.button {
	margin: 0 !important;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding: 3px 5px;
}

.cart_totals h2 {
	text-indent: 0 !important;
	margin: 0;
	padding: 0;
	border-left: none;
}

.woocommerce table.shop_table td {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.woocommerce table.shop_table th {
	border: none;
}

.woocommerce a.remove {
	display: block;
	font-size: 1.6rem;
	color: #999 !important;
	height: 25px;
	width: 25px;
	text-align: center;
	line-height: 23px;
	font-weight: 400;
}

.woocommerce a.remove:hover {
	color: #fff !important;
	background: var(--be-bg-red-f4);
}

.woocommerce-info {
	background: var(--be-bg-white);
}

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
	border-top: 1px solid var(--be-border-grey);
}

/** 结账 **/
.woocommerce form .form-row {
	text-indent: 0 !important;
}

.woocommerce-checkout .woocommerce h3 {
	text-indent: 0 !important;
	margin: 0;
	padding: 0;
	border-left: none !important;
}

#add_payment_method #payment ul.payment_methods li input, 
.woocommerce-cart #payment ul.payment_methods li input, 
.woocommerce-checkout #payment ul.payment_methods li input {
	padding: 5px 8px;
	border-radius: 5px;
	border: 1px solid var(--be-border-grey);
	margin: 5px 2px;
}

#add_payment_method #payment ul.payment_methods li, 
.woocommerce-cart #payment ul.payment_methods li, 
.woocommerce-checkout #payment ul.payment_methods li {
	float: left;
	list-style: none;
	margin: 0 15px 0 0;
}

.p-em .single-content .woocommerce-privacy-policy-text p {
	text-indent: 0;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background: var(--be-bg-white);
	border-radius: 5px;
	border: none;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
	border: none;
}

/** 我的账户 **/

.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
	background: var(--be-bg-grey-f8);
	margin: 5px 0;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid var(--be-border-grey);
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	background: var(--be-bg-grey-f8);
	margin: 5px 0;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid var(--be-border-grey);
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border: none;
}

.woocommerce .lost_password {
	text-indent: 0 !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 100%;
	text-align: center;
}

.woocommerce-account .woocommerce-MyAccount-content,
.woocommerce-account .woocommerce-MyAccount-navigation {
	float: left !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	float: left;
	list-style: none;
	margin: 5px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	text-align: center;
	padding: 8px 15px;
	border-radius: 5px;
	border: 1px solid #ececec
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
	background: #be8f87;
	color: #fff;
	border: 1px solid #be8f87
}

.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
	margin: 30px 0;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #ececec;
}

.woocommerce-account .woocommerce-MyAccount-content p {
	text-indent: 0 !important;
}

.wc-block-checkout__sidebar .wc-block-components-product-name {
	padding: 0;
	border-left: 0;
}

.wc-block-components-product-metadata .wc-block-components-product-metadata__description>p,
.wc-block-components-order-summary .wc-block-components-order-summary-item__description p,
.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-checkout-order-summary__title .wc-block-components-checkout-order-summary__title-text {
	text-indent: 0;
}

.wc-block-components-form input,
.wc-block-components-form select,
.wc-block-components-text-input input {
	background: var(--be-bg-grey-f1) !important;
	border: 1px solid var(--be-border-grey) !important;
}

.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-product-name {
	font-size: 1.4rem;
	font-weight: 700 !important;
}

/** 分页 **/
.woocommerce .page-numbers:hover,
.link:hover {
	box-shadow: none;
}

.woocommerce nav.woocommerce-pagination ul {
	border: none;
	margin: 10px;
}

.woocommerce nav.woocommerce-pagination ul li {
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span .woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background: #fff;
	min-width: 40px;
	color: #be8f87;
	line-height: 35px;
	margin: 5px;
	padding: 2px 10px;
	border-radius: 43px;
	border: 1px solid #be8f87;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background: #be8f87;
	color: #fff;
	border: 1px solid #be8f87;
}

/** 分类页面 **/
.woo-cat-title {
	color: #444;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 25px;
	height: 50px;
	margin: 10px 0;
	padding: 0 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-all;
}

.woo-cat-title:hover {
	color: #be8f87;
}

.cat-woo-url {
	margin: 0 0 15px 0;
}

/** 小工具 **/
.woocommerce ul.product_list_widget li img {
	float: left;
	margin: 0 10px 0;
	width: 40px;
	border-radius: 5px;
}

.woocommerce ul.product_list_widget {
	padding: 15px 10px 0 5px;
}

.woocommerce ul.product_list_widget li {
	position: relative;
	margin: 0 0 10px 0;
}

.woocommerce ul.product_list_widget li a {
	font-weight: 400;
	width: 100%;
	line-height: 1;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}

.woocommerce ul.product_list_widget .woocommerce-Price-amount {
	position: absolute;
	left: 60px;
	bottom: 0;
	color: var(--be-red-f4);
}

.widget_top_rated_products .woocommerce-Price-amount,
.woocommerce ul.product_list_widget del {
	display: none;
}

.widget_top_rated_products .woocommerce-Price-amount {
	position: absolute;
	top: auto !important;
	left: auto !important;
	right: 10px;
	bottom: 0;
}


.widget_recent_reviews .star-rating,
.widget_top_rated_products .star-rating {
	position: absolute;
	left: 60px;
	bottom: 5px;
	color: #be8f87;
}

.widget_products .star-rating {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.widget_recent_reviews .reviewer {
	position: absolute;
	right: 5px;
	bottom: 0;
	color: #999;
}

.widget_product_search {
	padding: 15px;
}

.widget_product_search .search-field {
	float: left;
	width: 80%;
	height: 37px;
	line-height: 37px;
	font: 14px "Microsoft YaHei", Helvetica;
	padding: 2px 10px;
	background: #fff;
	border: 1px solid #3690cf;
	border-radius: 5px 0 0 5px;
	-webkit-appearance: none;
}

.widget_product_search button {
	overflow: visible;
	position: relative;
	border: 0;
	cursor: pointer;
	height: 37px;
	width: 20%;
	color: #fff;
	background: #3690cf;
	border: 1px solid #3690cf;
	border-left: none;
	border-radius: 0 5px 5px 0;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
	padding-left: 0;
	position: relative;
	padding-top: 0;
}

.woocommerce.widget_shopping_cart .quantity {
	position: absolute;
	left: 60px;
	bottom: 0;
	color: #999;
}

.woocommerce.widget_shopping_cart .remove_from_cart_button {
	position: absolute;
	top: auto !important;
	left: auto !important;
	right: 10px;
	bottom: 0;
	width: 30px;
	height: 30px;
	line-height: 25px;
	opacity: 0.3;
}

.woocommerce.widget_shopping_cart .remove_from_cart_button:hover {
	opacity: 1;
}

.woocommerce.widget_shopping_cart .total {
	border-top: none;
	padding: 0 20px;
}

.woocommerce.widget_shopping_cart .buttons {
	width: 100%;
	padding: 15px;
}

.woocommerce.widget_shopping_cart .wc-forward {
	float: left;
	width: 40%;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
	margin-right: 0;
	margin-bottom: 5px;
}


.woocommerce.widget_shopping_cart .checkout.wc-forward {
	float: right;
}

.widget_shopping_cart_content .woocommerce-mini-cart__empty-message {
	padding: 10px;
}

.widget_product_tag_cloud .tagcloud {
	float: left;
	padding: 10px;
}

/** 夜间 **/
.night .quantity .qty,
.night.single-product .product,
.night.woocommerce div.product form.cart .variations select,
.night .woo-flex-box .post {
	border: 1px solid #262626;
}

.night .related {
	border-top: 1px solid #262626;
}

.night ul.tabs:before {
	border-bottom: 1px solid #262626 !important;
}

.night #review_form #respond input,
.night #review_form #respond textarea,
.night .comment-text,
.night .product .tabs li {
	background: #323232 !important;
	border: 1px solid #262626 !important;
}

.night .product form.cart table.variations,
.night .product form.cart .variations tr,
.night .product form.cart .variations td,
.night .product form.cart .variations th {
	border: none !important;
}

.night .product .tabs li.active {
	background: #262626 !important;
}

.night .product .tabs li.active a {
	background: #262626 !important;
}

.night .tabs li::after,
.night .tabs li::before {
	display: none !important;
}

.night .woo-url a {
	background: #262626 !important;
	color: #808080 !important;
}

.night .product .button {
	background: #262626 !important;
	color: #808080 !important;
	border: 1px solid #262626 !important;
}

.night .woocommerce form .form-row input.input-text,
.night .woocommerce form .form-row textarea {
	border: 1px solid #262626 !important;
}

.night.woocommerce-account .woocommerce-MyAccount-content,
.night.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	border: 1px solid #262626 !important;
}

.show-password-input {
	background: transparent !important;
}